.templateCreation{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.groupTemplateInfo{
    box-sizing: border-box;
    width:25vw;
}

.templateMain{
    box-sizing: border-box;
    /* width:75vw; */
    width: 100%;
}

.templateTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}
 #buttonSave{
    padding:.7rem 1rem;
    margin-left: 4rem;
 }

.templateEdit{

}

@media (max-width: 500px) {
    .groupTemplateInfo{
        display: none;
    }
    .templateMain{
        padding-top: 5%;
    }
    .templateTitle{
        margin-right: 0;
        justify-content: center;
    }
    .templateTitle h1{
        font-size: 1.3rem;
    }
    #buttonSave{
        padding: .3rem 1rem;
        margin-left: 1rem;
    }
    li{
        list-style-type: none;
    }
}
  





