.groupContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;

    @media(max-width: 500px){
        flex-direction: column;
    }
}

.groupHeader {
    display: flex;
    justify-content: center;

    button {
        margin-top: 15px;
        width: 200px;
        height: 40px;
        border-radius: 14px;
        font-size: 20px;
        font-family: "Quicksand";
        font-weight: bold;

        &:hover{
            border: 1px solid #3270eb;
            color: #3270eb;
            cursor: pointer
        }
        
    }
}




.boxing{
    border: 1px solid black;
    margin:4rem 1rem 0 1rem;
    background-color:white;
    border-radius: 20px; 

    @media(max-width: 500px){
        margin: 3rem;
    }
} 

.joinCreateGroup{
    margin: 1.5rem 0;
    font-size: 2.7rem;
    font-family: "Poppins";
}

.groupDescription{
    font-size:1rem;
    width:80%;
    margin:auto;
    border-bottom: 2px solid black;
    padding-bottom:.3rem;
    font-family: "Poppins";
}

.formGroup{
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        font-family: "Poppins";
    }
}
.groupInput{
    width:15rem;
    height:2rem;
    border-radius:7px;
    border:1px solid black;
}
.formButton{
    width:9rem;
    height:2rem;
    border-radius:6px;
    margin-top:1rem;
    font-size: 15px;
    font-family: "Quicksand";
    font-weight: bold;
    margin-bottom: 1rem;

    &:hover{
        cursor: pointer;
        border: 1px solid #f36d13;
        color: #f36d13;
    }
}

@media (max-width: 1099px) {
    .boxing{
        height:47%;
    } 
    
    .groupDescription{
        padding-bottom:2rem;
    }
    .formButton{
        width:60%;
    }
}

@media (max-width: 800px) {    
    .joinCreateGroup{
        margin: 1.5rem 0;
    }

    .groupDescription{
        padding-bottom:2rem;
    }

    .groupInput{
        width:80%;
    }
    .formButton{
        width:60%;
        padding:.6rem 0;
    }
}

.editGroupName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        font-family: "Poppins";
    }

    .edit-submit-button{
        margin: 1rem;
        width:9rem;
        height:2rem;
        border-radius:6px;
        margin-top:1rem;
        font-size: 15px;
        font-family: "Quicksand";
        font-weight: bold;
        
        &:hover{
            border: 1px solid #3270eb;
            color: #3270eb;
            cursor: pointer;
        }
    }
    .edit-delete-group{
        width:9rem;
        height:2rem;
        border-radius:6px;
        margin-top:1rem;
        font-size: 15px;
        font-family: "Quicksand";
        font-weight: bold;

        &:hover{
            border: 1px solid #3270eb;
            color: #3270eb;
            cursor: pointer;
        }
    }
    .editGroupInput{
        width: 20rem;
        height: 2rem;
        border-radius: 10px;
        border: 2px solid black;
        font-size: 1rem;
        font-family: "Poppins";
        outline: none;
    }
}

.cancel-button{
    width:9rem;
    height:2rem;
    border-radius:6px;
    margin-top:1rem;
    font-size: 15px;
    font-family: "Quicksand";
    font-weight: bold;

    &:hover{
        border: 1px solid #3270eb;
        color: #3270eb;
        cursor: pointer;
    }
}

.pop{
    margin-top: 50%;
}