.navBarContainer{
    background-color: #3270eb;
    padding: .5rem;
    position: relative;
    width:100vw;
}
.margin{
    display: flex;    
    justify-content: space-between;
    align-items: center;
}
img{
    width:7rem;
    height:5%;
    margin-left:2%;

    @media(max-width: 500px){
        margin-left: 0;
    }
}
.calendrTitleContainer{
    display:flex;
    align-items: center;
    position: absolute;
    z-index: 100;
    right:44%;
    left:44%;
}
.calendrTitle{
    font-size: 2.2rem;
    color: white;
    display: flex;
    width:14vw;
    position: absolute;
    z-index: 100;
    margin:auto;
}

.nav-buttons{
    margin: auto 0;
    display: flex;
}
.navbutton{
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
    margin-left:1rem;
    padding:1rem;

    &:hover {
        color:#f36d13;
    }
}


.navbuttonLink{
    color:white;
    outline:none;
   // padding:.8rem 1rem;    
    border-radius:1rem;
    text-decoration: none;
}

.logout {
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
    margin-left:1rem;
    padding:1rem;

    &:hover {
        color: #f36d13;
        cursor: pointer;
    }
}




// max-800
@media(max-width:800px){
    .calendrTitle{
        visibility: hidden;
    }
    }




    
// max-500
@media (max-width: 500px){
    .NavLinkB{
        margin:0 .2rem;
        padding:.8rem 1rem;
        border-radius:.8rem;
        font-size:.8rem;
    }

    
.calendrTitle{
    font-size: 0rem;
}

.logout{
    font-size: 1rem;
    margin-left: 0;
}

.navbutton{
    font-size: 1rem;
    margin-left: 0
}
}

