.homePageStyles{
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    margin: 2rem 0 0 4%;
    width:15vw;
    height:100vh;
    position: fixed;
}
.groupNameTemplate{
    display:flex;
    align-items: center;
}
.GroupName{
    margin:0 .2rem 0 0;
    font-size:2rem;
}
.fa-edit{
    font-size: .8rem;
    cursor: pointer;
}
.allTemps{
    font-size: 1.4rem;

}
.buttonBox{
    display: flex;
    align-items: center;
}

.fa-plus-circle{
    margin:1rem;
    font-size:1.6rem;
    color: #3f51b5;
    border-radius: 50%;
    
}
.fa-plus-circle:hover{
    color: white;
    background-color:black;
    box-shadow: 0 0 .1rem .1rem black;
}
.buttonTitles{
    font-size: 1.2rem;
    margin:.3rem;
    text-align: start;
}
.buttonDiscriptions{
    font-size:1rem;
}
.buttonLink{
    margin: 5rem auto 0;
}

.firstTemplateButton{
    margin-top: 5%;
    height:4rem;
    font-size: 1.5rem;
}

.popup-overlay{
    width:100vw;
    height:100vh;
    margin:0;
    position: fixed;
    top: 0px;
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    background: rgba(0, 0, 0, 0.5); 
    display: flex; 
    z-index: 999;
}
.popup-content{
    position: relative; 
    background: rgb(255, 255, 255); 
    width: 100%; 
    height:100%;
    margin: auto; 
    border: 1px solid rgb(187, 187, 187); 
    padding: 5px;
}
.editGroupInput{
    width:30%;
    height:2rem;
}
.editNameInput{

}
.editJoinCodeInput{

}


// Else section of the home page

.allTemplates{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:1rem 2% 0 23%;
    width:75vw;
    position: absolute;
}
.templateTag{
    border: 1px solid black;
    width:14rem;
    height:20rem;
    margin:1rem .2rem;

}
.titleAndIcons{
    display: flex;
    justify-content: space-between;
}
.templateTitleTag{
    display: flex;
    margin: .5rem 0 1rem .5rem;
}
.iconsForTemplates{
    margin:.5rem 0 0 0;
}
.iconSize{
    font-size:1rem;
    margin-right:.5rem;
    cursor: pointer;
}
.templateDescription{

}
.templateDescriptionTag{

}