.event-view-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins";
  width: 100%;
  align-content: center;
}
.event-details {
  font-size: 22px;
}
.weekday-container {
  width: 375px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto 2rem;
}

.weekday {
  background: #3270eb;
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 18px;
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 36px;
  margin-right: 5px;
  text-align: center;
  width: 36px;
  font-size: 15px;
  border: 0.5px solid black;
}
.weekday:hover {
  background: #f36d13;
  cursor: pointer;
  cursor: hand;
}
.top-section {
  margin: 0 33.3%;
}
.selected-container {
  margin: 0 auto;
  width: 375px;
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
  height: 2.1rem;
}
.selected-day {
  font-size: 22px;
  margin:auto 0;
}
.active {
  background-color: #f36d13;
}
.time-input {
  height: 15px;
  margin-right: 8%;
}
.holiday-rule {
  /* width: 200px; */
  margin: 2% 33.3%;
  /* display: flex; */
}
