.event-view-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins";
  width: 100%;
  align-content: center;
}
.event-details {
  font-size: 22px;
}
.weekday-container {
  width: 375px;
  display: flex;
  justify-content: space-evenly;
  margin: 5% auto
}

@media(max-width: 500px){
  .weekday-container{
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5%;
  }
}

.weekday {
  background: #3270eb;
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 18px;
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 36px;
  margin-right: 5px;
  text-align: center;
  width: 36px;
  font-size: 15px;
  border: 0.5px solid black;
}
.weekday:hover {
  background: #f36d13;
  cursor: pointer;
  cursor: hand;
}
.top-section {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}
.selected-container {
  margin: 0 auto;
  width: 375px;
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
  height: 2.1rem;
}

@media(max-width: 500px){
  .selected{
    flex-direction: column;
  }
}
.selected-day {
  font-size: 22px;
  margin:auto 0;
}
.active {
  background-color: #f36d13;
}
.time-input {
  height: 15px;
  margin-right: 8%;
}

.save-event-button{
  margin-top: 5%;
}

.eventTitle{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.eventTitle input{
  width: 305px;
  height: 25px;
}
@media(max-width:500px){
  .eventTitle input{
    width: 180px;
    height: 25px;
  }
}

.eventDetails{
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}

.eventDetails input{
  width: 305px;
  height: 25px;
}

@media(max-width:500px){
  .eventDetails input{
    width: 180px;
    height: 25px;
  }
}

.popup-close{
margin-right: 95%;
}

.details, .title{
  font-size: 1.5rem;
}

/* @media(max-width:500px){
  .annoying-popup{
    width: 75%;
  }
} */