.wrapper {
    display: flex;
    flex-direction:row;
}

::-webkit-scrollbar { 
    display: none; 
}
#memberNavIcon{
    position: absolute;
    left: 1rem;
    top: 14.6rem;
    display: flex;
    background-color: white;
    opacity: .8;
    p {
        font-size: 1.2rem;
        margin: 0;
        font-weight: bolder;
    }
    .fa-bars{
        padding: 0
    }
    @media(max-width: 801px){
        top:20.3rem;
    }
    @media(max-width: 500px){
        display: flex;
        position: fixed;
        left: 1%;
        top: 14%;
        z-index: 1;
    }
}
.allMemberEvents{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.memberNavDiv {
    display: flex;
    justify-content: center;
    background:rgba(235, 162, 162, 0.904);
    transition: .75s ease-in;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    z-index: 10;
    padding:0 1rem;
    top:18rem;
    height: 0vh;
    width: 14.5rem;
    margin-left: .6rem;
    overflow-y: scroll;
    box-shadow: inset 1px 1px 5px black,
    inset -1px -1px 5px black;

    @media(max-width: 801px){
        top:23.7rem;
    }
    @media(max-width: 408px){
        top: 22%;
    }
}


.memberNavOpen{
    display: flex;
    justify-content: center;
    background: #e3f3f3;
    transition: .75s ease-in;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    z-index: 10;
    padding:0 1rem;
    top:18rem;
    height:32.8rem;
    width: 14.5rem;
    margin-left: .6rem;
    overflow-y: scroll;
    box-shadow: inset 1px 1px 5px black,
    inset -1px -1px 5px black;
@media(max-width: 801px){
    top:23.7rem;
}
@media(max-width: 500px){
    justify-content: flex-start;
    background: #e3f3f3;
    height: 65vh;
    width: 55%;
    transition: margin-left .5s;
    overflow: hidden;
    position: fixed;
    top: 20%;
    opacity: 0;
    animation: fadeIn .3s ease-in-out .3s forwards;
    }
    @media(max-width: 408px){
        top: 22%;
    }
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.9;
    }
  }  

