.rapper {
    display: flex;
    flex-direction:row;
}

.buttn {
    position: fixed;
    font-size: 1.1rem;
    left: 10rem;
    top: 15rem;
    z-index: 999;
    padding: .9rem 5rem;
    border-radius: 15px;
    text-align: center;
    align-items: center;
}

.SideBarOpen{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0 0 2%;
    min-width:18rem;
    height:55.2%;
    position: fixed;
    top: 19rem;
    left: 12rem;
    background:#3270eb;
    transition: .5s ease-in;
    overflow-y: scroll;
    box-shadow: 2px 2px 5px black inset, -2px -2px 5px black inset;
    cursor: move;
}

::-webkit-scrollbar { 
    display: none; 
}

.closes {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 2%;
    min-width:18rem;
    height: 0vh;
    height:0vh;
    position: fixed;
    top: 19rem;
    left: 12rem;
    background:#3270eb;
    opacity: .7;
    overflow: hidden;
    transition: .5s ease-in;
}

.GroupName{
    margin:0 .2rem 0 0;
    font-size:2rem;
}


.buttonBox{
    display: flex;
    align-items: center;
}

.buttonTitles{
    font-size: 1.4rem;
    text-align: center;
}
@media(max-width: 500px) {
    .buttonTitles{
        font-size: 14px;
    }
}
.buttonDescriptions{
    font-size:1rem;
}

li {
    font-size: 18px;  
  
}
@media(max-width: 500px) {
    li{
        font-size: 14px;
        
    }
}

.groupName {
    font-size: 1rem;
    display: flex;
    margin-bottom:.8rem;
}