.memberHomeWrapper{
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    margin: 2rem 0 0 4%;
    width:15vw;
    height:100vh;
    position: fixed;
    // border-right: 1px solid black;
    // border-top: 1px solid black;
}


.groupNameTemplate{
    display:flex;
    align-items: center;
}

.GroupName{
    margin:0 .2rem 0 0;
    font-size:2rem;
}


.buttonBox{
    display: flex;
    align-items: center;
}

.buttonTitles{
    font-size: 1.4rem;
    margin:.3rem;
    text-align: start;
}
@media(max-width: 500px) {
    .buttonTitles{
        font-size: 14px;
    }
}
.buttonDescriptions{
    font-size:1rem;
}

li {
    font-size: 18px;  
  
}
@media(max-width: 500px) {
    li{
        font-size: 14px;
        
    }
}

.groupName {
    font-size: 1.2rem;
    padding-left: 1rem;
    border: 2px solid blue;
}