
.wholeCalendar{
    margin: 0 auto;
    padding-bottom: 5%;
    
}
.dayNames {
    display: flex;
    justify-content: space-between;
    width:81%;
    margin:auto;
    font-size: 1.4rem;
    font-weight: bold;
}
.cal{
    margin:auto;
}
.week{
    display:flex;
    margin:auto;
    width:90%;
}
.day{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 105px;
    background-color: #EEEEEE;
    border: 1.5px solid #3270EB;
    border-radius: 6px;
    font-size: 1rem;
    opacity: 0.6;
    text-decoration: none;
}

.day:hover{
    opacity: 1;
    border: 1.5px solid #f36d13;
}

.dayNumber{
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    margin: 0px;
    position: absolute;
    bottom:5px;
    right:5px;
}

.dayNumber:hover{
    color: #f36d13;
}

.arrowsAndMonth{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa {
    font-size: 1.5rem;
    margin: 0 .5rem;
}

.month-label{
    font-size: 2.5rem;
    font-family: "Poppins";
    font-weight: bold;
}

@media(max-width: 800px){
    .day{
        height: 80px;
    }
    .dayNames {
        font-size: 1.2rem;
    }
}

@media(max-width: 500px){
    .day{
        display:flex;
        flex-direction: column;
        width: 100%;
        border: none;
        border-radius: 0;
        border-left: 1.5px solid #3270EB;
        border-top: 1.5px solid #3270EB;
        border-bottom: 1.5px solid #3270EB;
    }
    .dayNumber{
        font-size: 3rem;
    }
    .wholeCalendar{
        width: 100%;
    }
    .dayNames{
        display: none;
    }
    .week{
        margin-top: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .arrowsAndMonth{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: .5rem;
    }
    .fa {
        font-size: 2rem;
        }
    
    .month-label{
        font-size: 1.5rem;
        font-family: "Poppins";
        font-weight: bold;
        }
}

